<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteRule    ^$ app/webroot/    [L]
   RewriteRule    (.*) app/webroot/$1 [L]
</IfModule>

<IfModule mod_php5.c>
php_value memory_limit 64M
</IfModule>
#set max post size
php_value post_max_size 1024M